@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap");

:root {
  --primary-color: rgba(27, 94, 32, 0.9);
  --background-color: rgba(52, 191, 62, 0.4);
  --overlay-color: rgba(0, 0, 0, 0.7);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Open Sans" sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 8;
  color: #fff;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0.4rem;
  text-align: center;
}
p {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: left;
  margin-bottom: 0.4rem;
  padding: 0.7rem 0;
}
label {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.7rem 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: var(--background-color);
}

.container:before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: url("../Img/bg.jpg") no-repeat center center/cover;
  z-index: -1;
}

header {
  width: 100%;
  margin: auto;
  padding: 1.5rem 0.5rem;
}
#description {
  margin: auto;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}

#survey-form {
  width: 100%;
  margin: auto;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border: none;
  border-radius: 0.3rem;
}

@media (min-width: 500px) {
  #survey-form {
    max-width: 700px;
  }
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: justify;
}
.form-control {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.input-radio,
.input-checkbox {
  margin: 0 1rem;
}

.additional-message {
  width: 100%;
  height: 10rem;
  margin: auto;
  padding: 0.5rem;
  resize: vertical;
  color: #000000;
  font-size: 1rem;
  border-radius: 0.2rem;
}

.submit {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--background-color);
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
}
