@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  --dark-brown: rgba(85, 60, 21, 0.99);
  --light-brown: rgba(137, 99, 37, 0.65);
  --background: rgba(244, 161, 54, 0.99);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.1;
  letter-spacing: 5;
  color: #fff;
}
strong,
em {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

h1 {
  font-weight: 300;
  font-size: 2.2rem;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  padding: 0rem 0.5rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}
li {
  font-size: 1.6rem;
  padding: 0.8rem 0;
}
a,
.submit-btn,
#submit {
  text-decoration: none;
  padding: 0.2rem 0.8rem;
  color: #fff;
  border-radius: 0.3rem;
  transition: all, 1s ease;
}
a:hover,
.submit-btn:hover {
  background-color: var(--dark-brown);
  transform: scale(0.98);
}

label,
input {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  background-color: var(--background);
}

/*++++header++++*/
#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.header-img-wrapper {
  width: 150px;
  height: 150px;
  margin: 0;
}
#header-img {
  max-width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
}

#nav-bar {
  width: 100%;
}
.nav-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  #header {
    flex-direction: row;
  }
  .header-img-wrapper {
    width: 120px;
    height: 120px;
  }
  #nav-bar {
    width: 60%;
  }
  .nav-wrapper ul {
    flex-direction: row;
    justify-content: space-around;
  }
}

/*+++main++++*/
#main {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
}

#section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/*+section about++*/
.two-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}
#section-about {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-color: var(--light-brown);
}

.video-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border-radius: 0.3rem;
}
#video {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  margin: 0;
  padding: 0;
}

/*+section product++*/
#section-product {
  width: 100%;
  height: 500px;
  margin: auto;
}
.section-product-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  background-color: var(--light-brown);
}
.section-product-wrapper h1 {
  margin-bottom: 2rem;
}

/*+section contact++*/
.one-grid {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  top: 327px;
}

#section-contact {
  width: 500px;
  height: 100px;
  margin: auto;
  padding: 2rem 0;
  background-color: var(--light-brown);
}
.section-contact-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-contact-wrapper p {
  font-size: 1.1rem;
}
.form-wrapper {
  width: 100%;
  margin: auto;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 0;
}
#email {
  border-radius: 0.3rem;
  padding: 0.5rem;
  border: none;
}
.submit-btn {
  cursor: pointer;
  border: none;
  margin-left: 0.5rem;
  background-color: var(--light-brown);
}
#submit {
  background: transparent;
  color: #fff;
  border: none;
  padding: 0.5rem;
}

@media (min-width: 576px) {
  #section-about,
  #section-product {
    width: 500px;
  }
  .one-grid {
    top: 120px;
  }

  .video-wrapper {
    background: none;
  }
}

@media (min-width: 780px) {
  .two-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .one-grid {
    top: 80%;
  }
}
