:root {
  --background: rgba(0, 0, 0);
  --overlay: rgba(0, 0, 0, 0.7);
  --secondary-overlay: rgba(0, 0, 0, 0.04);
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 10px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
p {
  font-size: 1.8rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  font-size: 1.8rem;
}
.container {
  background-color: #ffffff;
  margin: 0 auto;
}
/*sections*/
section {
  display: grid;
  grid-template-columns: 1fr;
}

/*++welcome++*/
#welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
/*++navbar++*/
#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #fff;
  background-color: var(--background);
}
#navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
#navbar li {
  display: block;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
}
#navbar a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  color: #fff;
  transition: all 1s ease-in-out;
}
#navbar a:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: var(--overlay);
  transform: scale(1.01);
}
@media (min-width: 850px) {
  #navbar {
    text-align: left;
  }
  #navbar ul {
    flex-direction: row;
    justify-content: flex-start;
  }
  #navbar li {
    display: inline;
  }
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2rem;
}
/*++Projects++*/
#projects {
  width: 100vw;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
  background-color: var(--secondary-overlay);
}
.projects__wrapper {
  width: 100%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}
.projects__tile {
  width: 350px;
  height: 500px;
  margin: 2rem auto;
  border: 1px solid transparent;
  border-radius: 0.8rem;
}
.projects__tile a {
  display: block;
  padding-top: 1rem;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  background-color: var(--background);
  transition: all 1s ease-in-out;
}

.projects__tile a:hover {
  background-color: var(--overlay);
  color: #fff;
  transform: scale(1.01);
}

.projects__imagetextwrapper {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.projects__imagetextwrapper img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 850px) {
  .projects__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 1rem;
  }
}
/*++profile-links++*/
#profile {
  width: 100vw;
  height: 80vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile__wrapper {
  margin: 2rem auto;
  padding: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.profile__links {
  margin: 1rem auto;
  padding: 2rem;
  color: #000;
  transition: all 1s ease-in-out;
}
.profile__links:hover {
  color: #ffffff;
  background-color: var(--background);
  transform: scale(1.01);
  border-radius: 0.8rem;
}
@media (min-width: 600px) {
  .profile__wrapper {
    flex-direction: row;
  }
  .profile__links {
    margin-left: 0.5rem;
  }
}
/*++footer++*/
#footer {
  width: 100vw;
  height: 5rem;
  margin: 0 auto;
  background-color: var(--background);
}
.footer__wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
