@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
:root {
  --lightblue: rgba(188, 255, 252, 1);
  --OverlayGreenish: rgba(114, 179, 175, 0.7);
  --vanilla: rgba(255, 239, 163, 1);
  --strawberry: rgba(255, 214, 248, 1);
  --chocolate: rgba(120, 116, 96, 0.47);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.2;
  background-color: var(--OverlayGreenish);
}
h1,
h2,
p {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 300;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
p {
  font-size: 1.8rem;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
/*+header+*/
.header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightblue);
}

.header__wrapper {
  width: 100%;
  padding: 0.5rem;
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
  }
}

/*+Main+*/

.main {
  width: 100%;
  height: 100%;
}
section {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

/*++section--home++*/
.section__home {
  background-color: var(--vanilla);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section__home--text {
  margin: 0 auto;
  padding: 0 1rem;
}

/*++section--flavours++*/
.section__flavours {
  width: 100vw;
  height: auto;
}
.section__flavours--wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--strawberry);
}
.section__flavours--tiles {
  width: 360px;
  height: 400px;
  margin: 0.5rem auto;
  cursor: pointer;
  background-color: var(--OverlayGreenish);
}

@media (min-width: 600px) {
  .section__flavours--wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }
}

/*++section--story++*/
.section__story {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--lightblue);
}
.section__story--text {
  width: 100%;
  height: 100%;
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.section__story h2 {
  margin-bottom: 5rem;
}
.section__farm {
  width: 100vw;
  height: auto;
}

.section__farm h2 {
  margin-top: 2rem;
}
.section__farm--wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.section__farm--img {
  width: 100%;
  height: 100%;
}

.section__farm img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.section__farm figcaption {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}

.section__testimonials {
  background-color: aquamarine;
  width: 100vw;
  height: auto;
  margin-top: 4rem;
  padding-top: 4rem;
}
.section__testimonials--tiles {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  text-align: center;
}

.tile {
  width: 460px;
  height: 460px;
  margin: 2rem auto;
}

.section__testimonials img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.section__testimonials p {
  font-size: 1.4rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
.section__testimonials span {
  font-size: 1.2rem;
  padding: 1rem;
}

@media (min-width: 700px) {
  .section__testimonials--tiles {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: var(--OverlayGreenish);
}
.footer__wrapper {
  height: 10vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-size: 0.9rem;
}
.footer a {
  color: #000;
}
